# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
.venv/
env/
bin/
lib/

# Fichiers de configuration sensibles
.env
instance/
.pytest_cache/

# Distribution / Packaging
dist/
build/
*.egg-info/

# Logs
*.log

# OS spécifiques
.DS_Store
Thumbs.db